<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--
    声明Student对象
    注入就是赋值
    简单类型：spring规定 java的基本数据类型和字符串都是简单类型 包括基本类型的包装类
        di 给属性赋值
        1.set注入 （设值注入）：spring调用类的set方法，你可以在set方法中完成属性赋值
          如果类的属性没有set方法，那就会报错
          1）简单类型的set注入
          <bean id ="xx" class="xx">
            <property name = "属性名" value = "此属性的值"/> 一个property只对应一个属性
            <property........./>
          </bean>

    -->

    <bean id="myStudent" class="com.reiuy.ba01.Student">
        <property name="name" value="李四"/> <!--setName("李四")-->
        <property name="age" value="20"/>   <!--setAge(20)-->
    </bean>

    <bean id="mydate" class="java.util.Date">
        <!--我们可以在Date类下找到一个叫做setTime的方法，合理推断Date中有一个叫做Time的属性-->
        <property name="time" value="123456"/>
        <!--题外话，根据结果是Thu Jan 01 08:02:03 CST 1970合理推断value值代表自1970.1.1 8：00过了多少ms-->
    </bean>

</beans>